* {
    margin  : 0;
    padding : 0;
    border  : 0;
    box-sizing: border-box;
  }
  legend{
    text-align: center;
  }
  .image1{
    background-color: azure;
  }
  .image1{
    color: blue;
  }
  body {
    height: 100dvh;
   /* display: flex;
    align-items: center;
    justify-content: center;
  */
  }

  .coeur-carre{
    width: 15px;
    height: 15px;
    margin-left: 140px;
    
    position :relative;
  
    transform: rotate(45deg);
    background-color: chocolate;
  }
  .coeur-cercle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    position: absolute;

  }
  .coeur-cercle:nth-of-type(1){
    top: -50%;
   

  }
  .coeur-cercle:nth-of-type(2){
    left: -50%;
    
  }
  .brut{
    background-color: greenyellow;
    
  }
  .clicable{
    cursor: pointer;
  }